body {
	background-color: #FDFDFD;
}

div#content {
	font-size: 140%;
}

div#content p, div#content li, div#content code, span.description, div.postnav {
	line-height: 1.7em;
	margin: 1.2em 0;
	font-size: inherit;
}

div#content code {
	font-size: 90%;
}

div#content pre code {
	font-size: 140%;
}

div#content {
	max-width: 705px;
	margin: 40px;
	float: right;
    width: 100%;
}

div#wrapper {
	max-width: 950px;
}

a.logo {
	color: #000;
	font-size: 40px;
	margin-top: 25px;
	display: inline-block;
	margin-left: 10px;
}

img.logo {
	height: 85px;
	float: left;
}

span.description {
	margin-left: 45px;
}

div#related {
	margin-top: 50px;
}

hr {
	margin: 25px 0;
}

h1 a, h2 a {
	color: #333;
}

div#sidebar {
	max-width: 150px;
	float:left;
	margin: 175px 0px 0px 15px;
}

div#sidebar li {
	list-style: none;
}

div#sidebar ul {
	margin-left: 15px;
}

div#sidebar img {
	height: 15px;
	margin-left: -15px;
    width: 15px;
}

div#sidebar a {
	display: inline-block;
	margin-left: 5px;
}

div.autor-info {
	max-width: 330px;
	text-align: center;
	float: left;
	margin: 25px;
}

div.autor-info > img {
	max-width: 275px;
}

div.autor li img {
	height: 20px;
	margin-right: 5px;
}

div.bio {
	float: right;
	max-width: 330px;
	margin: 0px 25px 25px 25px;
}

div.autor h2 {
	clear: both;
	margin-top: 30px;
}

ul#autor-links li {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

ul#autor-links {
	margin: 0px 0px 0px 20px;
	text-align: left;
}

div.license {
	text-align: center;
}

div.license img {
	margin: 15px;
}

iframe {
    margin: 40px auto;
    display: block;
}

ul.categorias li {
    width: 45%;
}
