body {
	background-color: #FDFDFD;
}

div#content p, div#content li, div#content code, span.description, div.postnav {
	line-height: 1.7em;
	margin: 1.2em 0;
	font-size: 140%;
}

div#content code {
	font-size: 90%;
}

div#content pre code {
	font-size: 140%;
}

div#content {
	max-width: 705px;
	margin: 40px;
	float: right;
}

div#wrapper {
	max-width: 950px;
}

a.logo {
	color: #000;
	font-size: 40px;
	margin-top: 25px;
	display: inline-block;
	margin-left: 10px;
}

img.logo {
	height: 85px;
	float: left;
}

span.description {
	margin-left: 45px;
}

div#related {
	margin-top: 50px;
}

hr {
	margin: 25px 0;
}

h1 a {
	color: #333;
}

div#sidebar {
	max-width: 140px;
	float:left;
	margin: 175px 0px 0px 15px;
}

div#sidebar li {
	list-style: none;
}

div#sidebar ul {
	margin-left: 15px;
}

div#sidebar img {
	height: 15px;
	margin-left: -15px;
}

div#sidebar a {
	display: inline-block;
	margin-left: 5px;
}
