body {
	background-color: #FDFDFD;
}

div#content p, div#content li, div#content code{
	line-height: 1.7em;
	margin: 1.2em 0;
	font-size: 140%;
}

div#content {
	width: 65%;
	margin: 40px auto;
}

.logo {
	display: inline-block;
	color: #000;
	font-size: 40px;
	margin-left: 60px;
}
