<!DOCTYPE html>
<html>
  <head>
    <title>
      {% capture page_title %}
        {% include title.html %}
      {% endcapture %}
      {{page_title}}
	</title>
    {% if page.description %}
    <meta name="description" content="{{ page.description }}" />
    {% endif %}

	{% if page.stealth == true%}
	<meta name="robots" content="noindex" />
    {% endif %}
    <meta property="og:image" content="http://www.vidageek.net/images/logo.png" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" media="screen" href="/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" media="screen" href="/css/prettify.css" type="text/css" />
    <link rel="stylesheet" media="screen" href="/css/style.css" type="text/css" />
    <link href="http://feeds.feedburner.com/{{ site.feedburner.id }}" rel="alternate" title="{{ site.title }}" type="application/atom+xml" />
    <!-- google analytics async -->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '{{ site.google_analytics.account }}']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>
  	<div id="wrapper">
		<div id="content">
			<img class="logo" width="85px" src="/images/logo.png" alt="VidaGeek.net" />
			<a class="logo" href="http://www.vidageek.net">VidaGeek.net</a> <br />
			<span class="description">{{ site.description }}</span>
			<hr />
			{{ content }}
		</div>
		<div id="sidebar">
			<h2>VidaGeek.net</h2>
			<ul>
				<li><img height="15" src="/images/logo.png" /><a href="http://www.vidageek.net">Blog</a></li>
				<li><img height="15" src="/images/feed.png" /><a href="http://feeds.feedburner.com/{{ site.feedburner.id }}">Feed</a></li>
                <li><img height="15" src="/images/conversa-rapida.png" /><a href="/conversa-rapida">Conversa Rápida</a></li>
				<li><a href="http://games.vidageek.net">Games</a></li>
                <li><img height="15" src="/images/pentaho.png" /><a href="/pentaho">Pentaho</a></li>
                <li><a href="/performance-java">Performance Java</a></li>
				<li><a href="http://projetos.vidageek.net">Projetos</a></li>
                <li><a href="/tutorial">Tutoriais</a></li>
				<li><a href="/contato">Contato</a></li>
			</ul>
			<h2>Autores</h2>
			<ul>
				<li><a href="/autor/breno.html">Breno Franco</a></li>
				<li><a href="/autor/cecilia.html">Cecilia Fernandes</a></li>
				<li><a href="/autor/fabricio.html">Fabrício Nascimento</a></li>
				<li><a href="/autor/jonas-abreu.html">Jonas Abreu</a></li>
				<li><a href="/autor/luiz.html">Luiz Real</a></li>
				<li><a href="/autor/convidados.html">Convidados</a></li>
              </ul>
              <h2>Compartilhe</h2>
            <ul>
                
{% capture share_url%}
{{ site.url | url_encode}}{{page.url | url_encode }}
{% endcapture %}
              <li><img height="15" src="/images/facebook.gif" /><a href="https://www.facebook.com/sharer/sharer.php?u={{share_url}}" target="_blank">Facebook</a></li>
              <li><img height="15" src="/images/gplus.png" /><a href="https://plus.google.com/share?url={{share_url}}" target="_blank">Google+</a></li>
              <li><img height="15" src="/images/twitter-bird.gif" /><a href="http://twitter.com/share?text={{page_title | fix_white_chars | url_encode}}&url={{share_url}}" target="_blank">Twitter</a></li>
            </ul>
			<h2>Links</h2>
			<ul>
				<li><img height="15" src="/images/antiif.gif" /><a href="http://www.antiifcampaign.com/" target="_blank">Anti-if Campaign</a></li>
				<li><img height="15" src="http://www.caelum.com.br/favicon.ico" /><a href="http://blog.caelum.com.br" target="_blank">Caelum</a></li>
				<li><a href="http://fabiokung.com/" target="_blank">Fabio Kung</a></li>
				<li><a href="http://agilenomundoreal.com.br/" target="_blank">Guilherme Silveira</a></li>
				<li><a href="http://udgwebdev.com/" target="_blank">Underground WebDev</a></li>
				<li><a href="http://udglinux.com/" target="_blank">Underground Linux</a></li>
			</ul>
		</div>
      </div>
      <script src="/js/prettify.js"></script>
      <script>
        [].slice.call(document.getElementsByTagName("pre")).map(function(e){e.className = "prettyprint"});
        prettyPrint();
      </script>
  </body>
</html>

