<!DOCTYPE html>
<html>
  <head>
    <title>
	{% if page.title %}{{ page.title }} -
	{% elsif page.dados %} Extração de dados - {{ page.dados }} -
    {% elsif page.subsite %} {{site.subsite[page.subsite]}} - {{site.category-names[page.category]}} -
	{% elsif page.author %} {{ page.author }} -
	{% endif %}{{ site.name }}
	</title>
    {% if page.description %}
    <meta name="description" content="{{ page.description }}" />
    {% endif %}

	{% if page.stealth == true%}
	<meta name="robots" content="noindex" />
    {% endif %}

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" media="screen" href="/css/bootstrap.min.css?v={{ site.time | date: "%Y%m%d%H%M%S"}}" type="text/css" />
    <link rel="stylesheet" media="screen" href="/css/style.css?v={{ site.time | date: "%Y%m%d%H%M%S"}}" type="text/css" />
    <link href="http://feeds.feedburner.com/{{ site.feedburner.id }}" rel="alternate" title="{{ site.title }}" type="application/atom+xml" />
    <!-- google analytics async -->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '{{ site.google_analytics.account }}']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>
  	<div id="wrapper">
		<div id="content">
			<img class="logo" width="85px" src="/images/logo.png" alt="VidaGeek.net" />
			<a class="logo" href="http://www.vidageek.net">VidaGeek.net</a> <br />
			<span class="description">{{ site.description }}</span>
			<hr />
			{{ content }}
		</div>
		<div id="sidebar">
			<h3>VidaGeek.net</h3>
			<ul>
				<li><img height="15" src="/images/logo.png" /><a href="http://www.vidageek.net">Blog</a></li>
				<li><img height="15" src="/images/feed.png" /><a href="http://feeds.feedburner.com/{{ site.feedburner.id }}">Feed</a></li>
				<li><a href="http://games.vidageek.net">Games</a></li>
                <li><a href="/performance-java">Performance Java</a></li>
				<li><a href="http://projetos.vidageek.net">Projetos</a></li>
				<li><a href="/contato">Contato</a></li>
			</ul>
			<h3>Autores</h3>
			<ul>
				<li><a href="/autor/breno.html">Breno</a></li>
				<li><a href="/autor/cecilia.html">Cecilia</a></li>
				<li><a href="/autor/fabricio.html">Fabrício</a></li>
				<li><a href="/autor/jonas.html">Jonas</a></li>
				<li><a href="/autor/luiz.html">Luiz</a></li>
				<li><a href="/autor/convidados.html">Convidados</a></li>
			</ul>
			<h3>Links</h3>
			<ul>
				<li><img height="15" src="/images/antiif.gif" /><a href="http://www.antiifcampaign.com/" target="_blank">Anti-if Campaign</a></li>
				<li><img height="15" src="http://www.caelum.com.br/favicon.ico" /><a href="http://blog.caelum.com.br" target="_blank">Caelum</a></li>
				<li><a href="http://fabiokung.com/" target="_blank">Fabio Kung</a></li>
				<li><a href="http://agilenomundoreal.com.br/" target="_blank">Guilherme Silveira</a></li>
				<li><a href="http://udgwebdev.com/" target="_blank">Underground WebDev</a></li>
				<li><a href="http://udglinux.com/" target="_blank">Underground Linux</a></li>
			</ul>
		</div>
	</div>
  </body>
</html>

